html {
    background-image: url(https://i.pinimg.com/originals/c5/98/c5/c598c5e6ae8fcd1de46c12a145a710cc.jpg)
}


#titleStyling {
    display: block;
    font-style: oblique;
    font-size: 30px;
    color: gainsboro;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    text-shadow: 6px 0 black;
}

#contentStyling {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 0px 180px;
    align-items: center;
}

.instructions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-height: fit-content;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    color: gainsboro;
    font-size: 23px;
    text-shadow: 3px 0 black;
}

h1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

h2 {
    display: flex;
}

h3 {
    display: flex;
}

.rods {
    height: 400px;
    width: 30px;
    background-color: transparent;
    border: solid whitesmoke 1px;
    display: flex;  
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    margin: 75px;
    border-radius: 5px;
}

#ring1 {
    background-color: rgba(255, 255, 0, 0.450);
    height: 50px;
    width: 400px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px;
}

#ring2 {
    background-color: rgba(173, 216, 230, 0.450);
    height: 50px;
    width: 300px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px;
}
#ring3 {
    background-color: rgba(250, 128, 114, 0.450);
    height: 50px;
    width: 200px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px;
}

#ring4 {
    background-color: rgba(144, 238, 144, 0.450);
    height: 50px;
    width: 100px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px;
}
